html, body { height: 100%; }

body{
    font-family: 'Handjet', cursive;
    background-color: rgb(27, 27, 27);
    overflow: hidden;
}

.mainpage {
    display: flex;
    background-image: url(https://img3.gelbooru.com/images/77/ba/77ba5843797cf5bc9ea2e019ceb0c5c4.png);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    background-position: right;
}

.aboutpage {
    display: flex;
    background-image: url(https://img3.gelbooru.com/images/37/71/37719f043a243f58aa27e7bde8ca86b4.png);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    background-position: right;
}

.container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
}

.box{
    width: 320px;
    border: 5px solid rgb(93, 39, 124);
    text-align: center;
}

.aboutbox{
    display: flex;
    border: 5px solid rgb(157,52,74);
    text-align: center;
}

.buttonbox{
    display: flex;
    border: 3px solid rgb(157,52,74);
    text-align: center;
}


.box h1{
    font-size: 450%;
    line-height: 1px;
    color: white;
}

.aboutbox h1{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 200%;
    line-height: 1px;
    color: white;
}

h2{
    line-height: 5px;
    color: white;
}

p{
    font-size: 150%;
    color: white;
}

a{
    transition: 250ms;
    line-height: 20px;
    text-decoration:none;
    font-size: 150%;
    margin: 3px;
    color: white;
}

.buttonbox a{
    transition: 250ms;
    line-height: 20px;
    text-decoration:none;
    font-size: 150%;
    margin: 5px;
    color: white;
}

.buttonbox a:hover{
    transition: 250ms;
    color: rgb(157,52,74);
}

.box a:hover{
    transition: 250ms;
    color: rgb(118, 6, 133)
}